/* Navigation */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Home Section */

#home {
    height: 370px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
    padding: 0px 68px;
    width: 280px;
    height: 40px;
}


/* Services section */

#services {
    flex-direction: column;
}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}


/* Clients section */

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 66px;
    padding: 2px 6px;
    height: auto;
}


/* contact us section */

#contact-box form {
    width: 80%;
}


/* Footer */


/* utility classes */

.h-primary {
    font-size: 40px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}